
body {
    font-family: arial, helvetica, sans-serif;
    font-size: 28px;
    color: #000000;
    background-color: rgba(37, 52, 50, 0.41);
    margin: 20px;
    padding: 0;
}

/* This is a comment, by the way */

p {
    line-height: 21px;
    color: #2a2519;
    text-align: center;
}

h1 {
    color: #060105;
    background-color: #995035;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #c00;
}

h2 {
    color: white;
    background-color: #090;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}

h3 {
    text-align: center;
    color: #999;
    font-size: 1.25em;
}

img {
    border-style: dashed;
    border-width: 2px;
    border-color: #ccc;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
    color: #24992a;
    font-style: italic;
}

table.center {
    background-color: #fbf8e9;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #000;
    border-width: 3px;
    border-collapse: collapse;

}

th {
    color: #060105;
    font-size: 22px;
    border-style: solid;
    border-color: #000;
    text-transform: uppercase;
}

td {
    color: #030302;
    font-size: 18px;
    border-style: solid;
    border-color: #000;
    border-width: 3px;
    padding: 20px;
}

form {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
textarea{
    margin-right: auto;
    margin-left: auto;

}

.button1{
    border-radius : 6px;
    padding: 8px 22px;
}


.description{
    text-align: center;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}