<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <Title>New question</Title>

    </head>
    <h1>Ask new question</h1>
    <body>
        <form method="post">
            <label for="new_question">New question: </label>
            <p><input id="new_question" name="new_question"></p>
            <label for="details">Details: </label>
            <p><textarea id="details" rows="8" cols="50" name="details"></textarea></p>
            <button class="button1" type="submit">submit question</button>
        </form>
    </body>
</html>
