<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Edit Answer</title>
</head>
<h2>Edit Answer</h2>
<body>
    <form action="{{ url_for('edit_answer', question_id=question.id, answer_id=answer.id) }}" method="post">
        <h2>ID:</h2>
        <p>{{ answer.id }}</p>
        <h2>Question:</h2>
        <p>{{ question.title }}</p>
        <textarea name="edit_a" rows="8" cols="50">{{ answer.message }}</textarea>
        <button type="submit" value="edit">Edit answer</button>
    </form>
</body>
</html>