<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editing</title>
<h2>{%  for row in questions %}
        {% if row["id"] == q_id %}
            {{ row["title"] }}
        {% endif %}
    {% endfor %}
</h2>
</head>
<body>








<form action="/question/{{ q_id }}/edit" method="POST">
        {%  for q in questions %}
            {% if q["id"] == q_id %}
        <textarea name="edit_q" rows="16" cols="50" >{{ q["message"] }}</textarea>
            {% endif %}
        {% endfor %}

        <input type="submit" value="Edit">
</form>









</body>
</html>