<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Edit Answer</title>
</head>
<h2>Edit Answer</h2>
<body>
    <form action="{{ url_for('edit_answer', question_id=question[0]['id'], answer_id=answer[0]['id']) }}" method="post">
        <h2>ID:</h2>
        <p>{{ answer[0]['id'] }}</p>
        <h2>Question:</h2>
        <p>{{ question[0]['title'] }}</p>
        <textarea name="message" rows="8" cols="50">{{ answer[0]['message'] }}</textarea>
        <button type="submit" value="edit">Edit answer</button>
    </form>
</body>
</html>