<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AskMate</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-grid.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-reboot.css') }}">

  <script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap.bundle.js') }}"></script>

    </head>
    <body>
   <nav class="navbar navbar-default sticky-top" >
    <div class="nav navbar-nav navbar-left">
            <a href="{{ url_for('route_main') }}">AskMate</a>
        </div>
        <form  class="navbar  navbar-middle" action="{{ url_for('search_question') }}" method="get">
            <input name="q" type="text" placeholder="Search">
        </form>


        <ul class="nav navbar-nav navbar-right">
            <li>USER</li>
            <li>CHALLANGE</li>
            <li>SHOP</li>
        </ul>


    </nav>

        <div class="content-wrapper">
            {% block content %} {% endblock %}
        </div>
    <script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>
    </body>
</html>


