
{% extends "layout.html" %}

{% block content %}

<div class="container-fluid">
	<div class="row">
        <div class="col-md-12">
            <div class="row">
		<div class="col-md-10">
			<div class="page-header">
				<h1>
					Top Questions
				</h1>
			</div>
		</div>
		<div class="col-md-2">
			<a  class="{{ not_logged_hidden_class() }}"  href="{{ url_for('route_add_question') }}"><button class="btn btn-success" type="button">Ask a question</button></a>

		</div>

        </div>
            <hr>
            </div>
        </div>
	</div>


{% for question in questions %}
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<div class="btn-group" role="group">

						<button class="btn btn-outline-warning" type="button">
							Vote<br>{{ question["vote_number"] }}
						</button>
						<button class="btn btn-outline-success" type="button">
							Views<br>{{ question["view_number"] }}
						</button>
						<button class="btn btn-outline-info" type="button">
							Asked at:<br>{{ question["submission_time"] }}
						</button>

					</div>
				</div>
				<div class="col-md-8">
					<h3>
						<a href="{{ url_for('display_question', question_id=question['id']) }}">{{ question["title"] }}</a>
					</h3>

				</div>

			</div>
            <hr>
		</div>
	</div>
{% endfor %}
</div>


{%endblock%}
