{% extends "layout.html" %}

{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'logged-in-error' %}
            <span>{{ message }}</span>
            <br>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}


    <a href="{{ url_for('route_add_question') }}"><button class="button1" type="button">Ask a question</button></a>
    <a href="{{ url_for('route_list_users') }}">List all users</a>
	<table class ="center">
		<tr>
		<th>Id</th>
		<th>Date</th>
		<th>Views</th>
		<th>Votes</th>
		<th>Title</th>
		</tr>
		<tbody>
		{% for question in questions %}
        <tr>
			<td>{{ question["id"] }}</td>
			<td>{{ question["submission_time"] }}</td>
			<td>{{ question["view_number"] }}</td>
			<td>{{ question["vote_number"] }}</td>
			<td><a href="{{ url_for('display_question', question_id=question['id']) }}">{{ question["title"] }}</a></td>
        </tr>
		{% endfor %}

		</tbody>
	</table>
    <a href="{{ url_for('route_main') }}"><button type="button">List latest questions</button></a>
    <a href="{{ url_for('route_list') }}"><button type="button">List all questions</button></a>
	<a href="{{ url_for('upload_image') }}"><button type="button">Upload image</button></a>
{%endblock%}