<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<title>HomePAge</title>
</head>
<body>
	<h1>AskMate</h1>
    <form action="{{ url_for('search_question') }}", method="get">
        <textarea name="q" id="" cols="30" rows="10">make</textarea>
        <button type="submit">Search</button>
    </form>
    <a href="{{ url_for('route_add_question') }}"><button type="button">Ask a question</button></a>
	<table class ="center">
		<thead>
		<th>Id</th>
		<th>Date</th>
		<th>Views</th>
		<th>Votes</th>
		<th>Title</th>
		</thead>
		<tbody>
		{% for i in dict %}
        <tr>
			<td>{{ i["id"] }}</td>
			<td>{{ i["submission_time"] }}</td>
			<td>{{ i["view_number"] }}</td>
			<td>{{ i["vote_number"] }}</td>
			<td><a href="{{ url_for('display_question', question_id=i['id']) }}">{{ i["title"] }}</a></td>
        </tr>
		{% endfor %}

		</tbody>
	</table>
    <a href="{{ url_for('route_list') }}"><button align="right" type="button">List all questions</button></a>
</body>
</html>