<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/style.css">
	<title>HomefkinPAge</title>
</head>
<body>
	<h1>AskMate</h1>
	<button onclick="location.href ='/add_question'" type="button">Ask a question</button>
	<table>
		<thead>
		<th>Id</th>
		<th>Date</th>
		<th>Views</th>
		<th>Votes</th>
		<th>Title</th>
		</thead>
		<tbody>
		{%for i in dict%}
        <tr>
			<td>{{i["id"]}}</td>
			<td>{{i["submission_time"]}}</td>
			<td>{{i["view_number"]}}</td>
			<td>{{i["vote_number"]}}</td>
			<td><a href="/questions/{{  i["id"]  }}">{{  i["title"]  }}</td>
        </tr>
		{% endfor %}
		</tbody>
	</table>

</body>
</html>