{% extends "layout.html" %}

{% block content %}
        <table class ="center">
            <tr>
            <th>User name</th>
            <th>Reputation</th>
            <th>Registration Time</th>
            </tr>
            <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user["user_name"] }}</td>
                <td>{{ user["reputation"] }}</td>
                <td>{{ user['registration_time'] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
{%endblock%}