{% extends 'layout.html' %}
{% block body %}
    <a href="{{ url_for('route_edit_question', question_id=question_id) }}"><button>Ask question</button></a>
    <a href="{{ url_for('route_delete_question', question_id=question_id) }}"><button>Delete question</button></a>
    <a href="{{ url_for('route_add_answer', question_id=question_id) }}"><button>Add answer</button></a>
<table>
    <h2>Question</h2>
    <tr>
        {% for item in question_header %}
            <th>{{ item }}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for item in question[0].values() %}
            <td>{{ item }}</td>
        {% endfor %}
        <td></td>
    </tr>
</table>

<table>
    <h3>Answers</h3>
    {% for answer_entry in answers %}
        <tr>
            {% for item in answer_header %}
                <th>{{ item }}</th>
            {% endfor %}
        </tr>
        <a href="{{ url_for('delete_answer', question_id=question_id, answer_id=answer_entry['id']) }}"><button>Delete_answer</button></a>
        <a href="{{ url_for('route_edit_answer', question_id=question_id, answer_id=answer_entry['id']) }}"><button>Edit answer</button></a>
        <tr>
            {% for item in answer_entry.values() %}
                <td>{{ item }}</td>
            {% endfor %}
        </tr>
        <h5>Comments</h5>
        <tr>
            {% for item in comment_header %}
                <th>{{ item }}</th>
            {% endfor %}
        </tr>
            {% for comment_entry in comments %}
                {% if comment_entry['answer_id'] == answer_entry['id'] %}
                    <tr>
                    {% for item in comment_entry.values() %}
                        <td>{{ item }}</td>
                    {% endfor %}
                        <td><a href="{{ url_for('delete_comment', comment_id=comment_entry['id']) }}"><button>Delete comment</button></a></td>
                    </tr>
                {% endif %}
            {% endfor %}
    {% endfor %}
</table>
{% endblock %}

