<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Question {{q_id}}</title>
</head>
<body>
<a href="/list">Back</a>
<br>
<a href="/question/{{ q_id }}/new-answer">New Answer</a>
    <h1>
    {%  for line in question %}
        {%  if q_id == line["id"]  %}
            {{ line["title"] }}
    </h1>
    <h3>Question ID:</h3>
    <p>{{line["id"]}}</p>
    <h3>Date:</h3>
    <p>{{line["submission_time"]}}</p>
    <h3>Views:</h3>
    <p>{{line["view_number"]}}</p>
    <h3>Vote point:</h3>
    <p>{{line["vote_number"]}} <button onclick="location.href ='/vote_up/{{ line['id'] }}'" type="button">/\</button> <button onclick="location.href ='/vote_down/{{ line['id'] }}'" type="button">\/</button></p>
    <h3>Details:</h3>
    <p>{{line["message"]}}</p>
    <button onclick="location.href='/question/{{ q_id }}/edit'" type="button">edit</button>
    <button onclick="location.href='/question/{{ q_id }}/delete'" type="button"><i class="fa fa-trash"></i></button>
        {%  endif  %}
        {%  endfor  %}

    <h3>Comments</h3>
<table>
    <tr>
        <th>Comment ID</th>
        <th>Comment</th>
        <th>Submission time</th>
    </tr>
    {% for comment in comments %}
    {% if comment.question_id == q_id %}
        <tr>
            <td>{{ comment.id }}</td>
            <td>{{ comment.message }}</td>
            <td>{{ comment.submission_time }}</td>
            <td><a href="{{ url_for('delete_comment', comment_id=comment.id) }}">
                <button class="btn"><i class="fa fa-trash"></i></button>
                </a>
            </td>
        </tr>
    {% endif %}
    {% endfor %}
</table>
<a href="{{ url_for('add_comment_question', question_id=q_id) }}"><button>Add comment</button></a>

    <h1>Answers:</h1>


       {%  for line in answer  %}
          {%  if q_id == line["question_id"]  %}
    <p>___________________________________________________</p>
    <p>{{line["message"]}}</p>
    <p>{{line["vote_number"]}}</p>
    <p>{{line["submission_time"]}}</p>
    <button onclick="location.href='/answer/{{ q_id }}/{{ line['id'] }}/delete'" type="button"><i class="fa fa-trash"></i></button>
    <button onclick="location.href='/answer/{{ q_id }}/{{ line['id'] }}/edit'" type="button">edit answer</button>

     <h3>Comments</h3>
<table>
    <tr>
        <th>Comment ID</th>
        <th>Comment</th>
        <th>Submission time</th>
    </tr>
    {% for comment in comments %}
    {% if comment.answer_id == line.id %}
        <tr>
            <td>{{ comment.id }}</td>
            <td>{{ comment.message }}</td>
            <td>{{ comment.submission_time }}</td>
        <td><a href="{{ url_for('delete_comment', comment_id=comment.id) }}">
            <button class="btn"><i class="fa fa-trash"></i></button>
            </a>
        </td>
        </tr>
    {% endif %}
    {% endfor %}
</table>
    <br>
        <a href="{{ url_for('add_comment_answer', answer_id=line.id) }}"><button>Add comment</button></a>
          {%  endif %}
          {%  endfor  %}
           {% if q_id not in answer %}
    <p>There is no answer yet. Be the first!</p>
            {% endif %}

</body>
</html>