
{% extends "layout.html" %}

{% block content %}

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-10">
					<div class="page-header">
						<h1>
							{{ question[0]['title'] }}
						</h1>
					</div>
				</div>
				<div class="col-md-2">

					<button type="button" class="btn btn-success">
						Edit
					</button>
				</div>
			</div>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<div class="btn-group btn-group-vertical btn-sm px-2" role="group">
				 
				<button class="btn btn-outline-secondary" type="button">
					Up
				</button>
				<button class="btn btn-outline-info" type="button">
					Vote data
				</button> 
				<button class="btn btn-outline-secondary" type="button">
					Down
				</button> 
				<button class="btn btn-outline-success" type="button">
					Accepted
				</button>
			</div>
		</div>
		<div class="col-md-10">
			<div>
				{{  question[0].message  }}
			</div>
			
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-11">
					{% for line in comments %}
						{% if line.answer_id == None %}
					<blockquote class="blockquote">
						<p class="mb-0">
							{{ line.message }}
						</p>
						<footer class="blockquote-footer">
							Commented by <cite>{{ line.user_name}}</cite>
						</footer>
					</blockquote>
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1 px-2">
			<div class="btn-group btn-group-vertical" role="group">
				 
				<button class="btn btn-secondary" type="button">
					Left
				</button> 
				<button class="btn btn-secondary" type="button">
					Center
				</button> 
				<button class="btn btn-secondary" type="button">
					Right
				</button> 
				<button class="btn btn-secondary" type="button">
					Justify
				</button>
			</div>
		</div>
		<div class="col-md-11">
			{% for line in answers %}
			<p>
				{{  line.message  }}
			</p>
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-11">
					{% for comment_line in comments %}
						{% if line.id == comment_line.answer_id %}
					<blockquote class="blockquote">
						<p class="mb-0">
						{{ comment_line.message  }}
						</p>
						<footer class="blockquote-footer">
							Commented by <cite>{{ comment_line.user_name}}</cite>
						</footer>
					</blockquote>
					{% endif %}
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{%endblock%}