
{% extends "layout.html" %}

{% block content %}

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-10">
					<div class="page-header">
						<h1>
							{{ question[0]['title'] }}
						</h1>
					</div>
				</div>
				<div class="col-md-2">

					<a href="{{ url_for('edit', question_id=question[0].id)}}"><button type="button" class="btn btn-success">
						Edit
					</button>
                    </a>
				</div>
			</div>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<div class="btn-group btn-group-vertical btn-sm px-2" role="group">
				<button class="btn btn-outline-info" type="button">
					{{ question[0].vote_number }}
				</button>
				 {% if session['user_id'] not in question[0]['voted_users'] %}
				<a class="{{ not_logged_hidden_class() }}" href="{{ url_for('vote_up', question_id=question[0].id)}}"><button class="btn btn-outline-secondary" type="button">
					/\
				</button></a>
				<a class="{{ not_logged_hidden_class() }}" href="{{ url_for('vote_down', question_id=question[0].id)}}"><button class="btn btn-outline-secondary" type="button">
					\/
				</button></a>
                {% endif %}

			</div>
		</div>
		<div class="col-md-10">
			<div>
				{{  question[0].message  }}
			</div>
			<a href="{{ url_for('add_answer', question_id=question[0].id)}}"><button type="button" class="btn btn-success">
						Add Answer
            </button>
            </a>
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-11">
					{% for line in comments %}
						{% if line.answer_id == None %}
					<blockquote class="blockquote">
						<p class="mb-0">
							{{ line.message }}
						</p>
						<footer class="blockquote-footer">
							Commented by <cite>{{ line.user_name}}</cite>
						</footer>
					</blockquote>
					{% endif %}
					{% endfor %}
				</div>
			</div>

		</div>
	</div>
		<div class="row">
		<div class="col-md-12"><hr>
		</div></div>
	</div>


{% for line in answers %}
<div class="container-fluid">

	<div class="row">
		<div class="col-md-1 px-2">
			<div class="btn-group btn-group-vertical" role="group">

				<button class="btn btn-secondary" type="button">
					{{line.vote_number}}
				</button>
                {% if session['user_id'] not in line['voted_users'] %}
				<a class="{{ not_logged_hidden_class() }}" href="{{url_for('vote_up_answer',question_id=question[0].id,answer_id=line.id)}}"><button class="btn btn-secondary" type="button">
					/\
				</button></a>
				<a class="{{ not_logged_hidden_class() }}" href="{{url_for('vote_down_answer',question_id=question[0].id,answer_id=line.id)}}"><button class="btn btn-secondary" type="button">
					\/
				</button></a>
                {% endif  %}
				{%if question[0].accepted_answer_id == line.id %}
				<button class="btn btn-secondary" type="button">
				\o/
				</button>
				{%endif%}
			</div>
		</div>
		<div class="col-md-11">
			<p>
				{{  line.message  }}
			</p>
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-11">
					{% for comment_line in comments %}
						{% if line.id == comment_line.answer_id %}
					<blockquote class="blockquote">
						<p class="mb-0">
						{{ comment_line.message  }}
						</p>
						<footer class="blockquote-footer">
							Commented by <cite>{{ comment_line.user_name}}</cite>
						</footer>
					</blockquote>
					{% endif %}
					{% endfor %}
				</div>
			</div>

		</div>
	</div>
</div>
<div class="row">
		<div class="col-md-12"><hr>
		</div></div>
{% endfor %}
</div>

{%endblock%}